html{
    font-family: 'Nunito Sans', sans-serif;
}
body {
    padding-top: 88px;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
}
.navbar{
    padding: 1.5rem;
}
.nav-link{
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}
.text-block {
    position: absolute;
    top: 202px;
    left: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 444px;
    font-size: 22px;
  }
  .ver-mas{
      border-radius: 16px;
  }
.nosotros{
    height: 513px;
    width: auto;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    background-image: url("/img/backgrounds/fondo-nosotros-inicio.png");
}
.img-nosotros{
    width: 540px;
    height: 379px;
}
.nosotros-texto-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    height: 379px;
}
.title-proteseg{
    align-self: flex-start;
    margin-bottom: 1rem;
}
.texto-nosotros{
    font-size: 16pt;
    font-weight: 500;
}
.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/backgrounds/Fondo-servicios.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align: center;
    color: white;
    padding: 4rem;
    font-weight: bold;
}


.politicas{
    display: flex;
    background-image: url(/img/backgrounds/politicas-de-calidad.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.like{
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.titulo-politica-de-calidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-politica img{
    width: 50px;
    height: 50px;
    
}
.texto-politica{
    width: 500px;
   
}

.left-half {
    
    flex: 1;
    padding: 7rem;
    color: white;
    align-content: center;
  }
  
  .right-half {
    flex: 1;
    padding: 1rem;
  }
h3{
    font-weight: bold;
}
.contactenos{
    display: flex;
    justify-content: space-evenly;
}
.left-half-contact {
    padding: 1rem;
    flex: 1;
    color: black;
    max-width: 368px;
    flex-direction: column;
    
  }
  .right-half-contact{
    flex: 1;
    padding: 1rem;
    max-width: 368px;
    align-self: flex-start;
  }
  h3{
      color: #EF8532;
      margin-bottom: 1rem;
  }
  .btn-primary{
      background-color: #EF8532;
      border: #707070;
  }
  .btn-primary:hover{
      background-color: #707070;
  }
 .fa-mobile-alt{ 
     color: #EF8532;
  
 }
 .icono{
     width: 30px;
     margin-right: 1rem;
     margin-bottom: 1rem;
 }
 footer{
     display: flex;
    background-color: #393A3B;
    height: 180px;
 }
 .left-side-footer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

 }
 .right-side-footer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
 }
 .span-footer{
    color: white;
    margin-right: 1rem;
 }
a{
    text-decoration: none;
    color: white;
}
.logo-footer{
    margin-bottom: 1.5rem;
}
